@import url(./sanitize.css);

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;    
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-family: 'メイリオ', 'Meiryo', sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.025em;
}

h2 {
  color: #008800;
  font-size: 2.0rem;
  font-weight: 400;
}
h2 > span {
  margin-left: 8px;
}

hr {
  margin-bottom: 16px;
}

select {
  padding: 4px;
}

input[type='text'],
input[type='password'] {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

/* ----------------
Common
------------------- */
#root {
    height: 100%;
}
.section {
    height: 100%;
}
.background-lightgray {
    background: #ddd;
}

.content {
  margin-bottom: 16px;
}

.alertMessage {
  margin-left: 16px;
  color: #dd0000;
}

.inputAlert {
  background-color: #ffffaa;
}


.btn {
  border: none;
  background: #008800;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}
.btn:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: default;
}
.btn:disabled:hover {
  opacity:initial;
}
.btn:hover {
  opacity: 0.6;
}
.btn.negative {
  background: #ddd;
  color: #333;
}
.btn.delete {
  float: right;
}

.btn-group button {
  margin-right: 8px;
}
.btn-group button:last-child {
  margin-right: 0;
}


input[type='text'],
input[type='date'] {
  border: 1px solid #aaa;
  border-radius: 5px;
}

select {
  border: 1px solid #aaa;
  border-radius: 5px;
}


/* ----------------
Common - Layout
------------------- */
.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.modal_overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
  padding: 16px;
  color: #fff;
}
.modal_overlay.none {
  display: none;
}
.modal_window {
  display: table;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;
}


/* ----------------
Login
------------------- */
.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    width: 500px;
    padding: 48px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
}
.login-form > h1 {
    margin-top: 0;
    text-align: center;
}
.login-form .errorMessage {
    color: #ff0000;
    text-align: center;
}
.login-form > div {
  width: 80%;
  margin: 0 auto;
}
.login-form .entry {
    margin-bottom: 8px;
}
.login-form .input {
    width:100%;
}
.login-form .password {
  position: relative;
}
.login-form .password span {
  position: absolute;
  right: 16px;
  top: 1.2rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: #aaa;
}
.login-form input {
    padding: 8px;
    line-height: 1.6rem;
    outline: none;
}
.login-form .button {
    margin-top: 32px;
    display: block;
    padding: 4px;
    width: 100%;
    height: 48px;
    background: #008800;
    color: #fff;
    border: #008800;
}
.login-form .button:hover {
    opacity: 0.7;
    cursor: pointer;
}



/* ----------------
Main
------------------- */
.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main .header {
    position: relative;
    width: 100%;
    height: 64px;
    background: #008800;
    color: #fff;
    line-height: 48px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .footer {
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
.main .body {
    width: 100%;
    height: 100%;
    display: flex;
}
.main .setting {
    border: none;
    margin: 4px 0;
    font-size: 1.2rem;
    line-height: 28px;
}
.main .content {
    width: 100%;
    height: 100%;
    margin: 8px 16px;
}

/* ----------------
Main - Menu
------------------- */
.header .menu-icon {
  font-size: 32px;
  cursor: pointer;
}
.header .menu-icon:hover {
  opacity: 0.6;
}
.header .systemName {
  font-size: 2.0rem;
}
.header .menu {
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 100;
  transition: all .3s 0s ease;
}
.header .menu.close {
  left: -270px;
  transition: all .3s 0s ease;
}

.header .menu > div {
  width: 250px;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255, 1);
  border-right: 1px solid #eee;
  box-shadow: 2px 0px 4px 2px #aaa;
}

.header .menu .closeButton {
  float: right;
  color: #aaa;
  font-size: 3.0rem;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 16px;
}
.header .menu .closeButton:hover {
  opacity: 0.6;
}

.header .menu > div > ul {
    margin: 0;
    padding: 48px 0 0 0;
}
.header .menu > div > ul li {
    padding-left: 32px;
    list-style-type: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #008800;
}
.header .menu > div > ul li span {
  margin-left: 8px;
}
.header .menu > div > ul li:hover {
    background: #008800;
    color: #fff;
}
.header .menu > div > ul li:last-of-type {
    margin-bottom: 0;
}
.current-menu {
    background: #008800;
    color: #fff;
}


/* ----------------
Main - ListStyle
------------------- */
.list, .edit {
  margin-bottom: 16px;
}

.list > table,
.edit > table {
  width: 100%;
  margin-bottom: 16px;
}

.list > table tr,
.edit > table tr {
  height: 48px;
}

.list > table > thead tr {
  margin-bottom: 20px;
}
.list > table > thead th,
.list > table > tbody td {
  padding: 0 8px;
}

.list > table > thead th {
  background: #eee; /* #f0fff0; */
  font-weight: 400;
  text-align: left;
}

.list > table > thead th.time {
  width: 100px;
}

.list > table > thead th.item {
  width: 150px;
}

.list > table > tbody tr,
.edit > table > tbody tr {
  border-bottom: 1px dashed #aaa;
}

.edit > table > tbody th.item {
  width: 200px;
}


/* ----------------
Main - Loading
------------------- */
.loader-bg {
  position: absolute;
  background: #ccc;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.loader,
.loader:before,
.loader:after {
  position: absolute;
  top: 25%;
  left: 50%;
  background: #aaa;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  opacity: 0.7;
}
.loader {
  color: #aaa;
  text-indent: -9999em;
  margin: 88px auto;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* ----------------
Main - Pagination
------------------- */
.pagination {
  width: 50%;
  margin: 0 auto;
  padding-top: 32px;
  font-size: 2.0rem;
  text-align: center;
}
.pagination .arrow {
  color: #008800;
  cursor: pointer;
}
.pagination .arrow.disabled {
  color: #aaa;
  cursor: initial;
}
.pagination .current {
  color: #008800;
  font-weight: 600;
  cursor: initial;
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.pagination li {
  display: inline-block;
  margin-left: 16px;
  cursor: pointer;
}
.pagination li:last-child {
  margin-right: 16px;
}

/* ----------------
Main - tableData
------------------- */
.data-table-container {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.data-table {
    border-collapse: collapse;
    font-size: 1.2rem;
    margin-top: 16px;
    width: 100%;
}
.data-table th, .data-table td {
    padding: 4px;
    border: 1px solid #aaaaaa;
}

/* ----------------
Reservations
------------------- */
.rsvControl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.datePicker {
  width: 150px;
  margin-right: 16px;
}

.rsvMessage {
  padding: 8px;
}
.rsvModalContent {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  color: #000;
  padding: 32px; 
  text-align: center;
}
.rsvModalContent p {
  margin: 0 0 16px 0;
}

.rsvStartTime {
  width: 120px;
}

.rsvBoxContainer {
  display: flex;
}
.rsvBoxContainer > ul {
  width: 120px;
  border: 1px solid #aaa;
  border-radius: 5px;;
  padding: 8px;
  margin: 8px 8px 8px 0;
  cursor: pointer;
  list-style: none;
  font-size: 1.4rem;

  background-color: #ffffaa;
}
.rsvBoxContainer > ul:hover {
  /* background: #f0fff0; */
  opacity: 0.6;
}
.rsvBoxContainer > ul li {
  margin-bottom: 4px;
}
.rsvBoxContainer > ul li:last-child {
  margin-bottom: 0;
}
